main {
  font-family: 'Hind Siliguri', sans-serif;
}

article {
  color: #ddd;
  font-size: 16px;
  line-height: 2;
}

html body {
    background-color: rgba(0,0,0,1.00);
}

footer {
  background-color: rgba(30, 30, 30, 1.00);
  color: #AAA;
  border-top: 1px solid #222;
}

p {
  padding: 20px;
}

#title_adjuster {
  color: #eee;
  text-shadow: 3px 3px 5px #000;
}

#title_adjuster h1 {
  font-family: 'Monoton', sans-serif;
}

#deadface {
  color: #EEE;
  padding: 40px;
}

#transcript {
  background-color: #DDD;
  color: #555;
  border: 1px solid #EEE;
  border-radius: 5px;
  padding: 18px 0px 10px 10px;
  margin: 5px 60px 0px 60px;
}

.beckett {
  color: #000;
}

.jumbotron {
  background-color: #000;
  background: url("images/wavy_static.gif")
}

html a {
  color: ##ffffb3;
}

html a:hover {
  color: ##ffff66;
  text-decoration: none;
}

html a:visited {
  color: #ccffff;
  text-decoration: none;
}
